.container-system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 700px;
  height: 100%;
  margin: 10% 25%;
}

.container-registro .container-descricao-despesa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin-bottom: 4px;
}

.container-registro .container-descricao-despesa input {
  outline: none;
  height: 40px;
  width: auto;
  border-radius: 0px;
  margin-top: 5px;
}

.container-registro .container-descricao-despesa .input-default {
  background-color: #F5F3F3;
  border: 2px solid #00F2E4;
}

.container-registro .container-descricao-despesa .input-focus {
  border: 0px solid;
  background-color: #F5F3F3;
}

.container-registro .container-descricao-despesa > label {
  margin-bottom: 10px;
}

.container-registro .container-tipo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  top: 20px;
}

.container-registro .container-tipo .select {
  cursor: pointer;
}

.container-registro .container-tipo input {
  width: 140px;
  border-radius: 0px;
  background-color: #F5F3F3;
  outline: none;
  cursor: pointer;
  padding-left: 10px !important;
}

.container-registro .container-tipo i {
  position: absolute;
  top: 45px;
  left: 130px;
  pointer-events: none;
}

.container-registro .container-tipo .fa-chevron-down {
  color: #1A4BF9;
}

.container-registro .container-tipo .fa-chevron-up {
  color: #00F2E4;
}

.container-registro .container-tipo .option-lista {
  display: none;
  position: absolute;
  top: 100px;
  left: 10px;
  background-color: #F5F3F3;
  border: 2px solid #00F2E4;
  padding: 10px 10px 0px 10px;
  overflow: visible;
}

.container-registro .container-tipo .option-lista option {
  margin-bottom: 10px;
  cursor: pointer;
}

.container-registro .container-tipo .option-lista option:hover {
  background-color: #aaaaaa;
}

.container-registro .container-tipo .select-default {
  padding: 15px 0px;
  border: 2px solid #00F2E4;
}

.container-registro .container-tipo .select-focus {
  padding: 15px 0px;
  border: 0px solid;
  background-color: #F5F3F3;
}

.container-registro .container-tipo > label {
  margin-bottom: 10px;
}

.container-registro .container-botao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container-registro .container-botao button {
  margin-top: 5px;
  margin-bottom: 3px;
  height: 50px;
}

.container-registro .container-botao .botao {
  border-radius: 5px;
  background-color: #2E2E2E;
  color: #fff;
  border: 0px solid;
  cursor: pointer;
  font-weight: 600;
}

.container-registro .container-botao .botao-hover {
  border-radius: 5px;
  background-color: #969696;
  color: #00F3E5;
  font-weight: 600;
  border: 0px solid;
  cursor: pointer;
}

.container-registro label {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-tabela {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.container-tabela table {
  border-collapse: collapse;
  min-width: 45vw;
}

.container-tabela table tr > th {
  border-bottom: 2px solid black;
  padding: 20px 200px 10px 0;
}

.container-tabela table tr > td {
  text-align: left;
  padding: 20px 200px 10px 0;
  border-collapse: collapse;
  word-wrap: break-word;
  max-width: 200px;
}
