* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  text-decoration: none;
  font-family: sans-serif;
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 7vh;
  background-color: #1190cd;
}

.container-nav a {
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}

.container-nav img {
  width: 15vh;
}

.container-nav li {
  display: inline-block;
  margin: auto 10px;
}

.main-container {
  margin: 5vh auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .container-main-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 35px;
}

.main-container .container-main-search .container-search-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  border: 1px solid #ffb800;
  height: 60vh;
  width: 15vw;
  padding: 2px 15px;
  background-color: #ffda79;
}

.main-container .container-main-search .container-search-box-1 :first-child {
  margin-bottom: 10px;
  color: #8c744e;
  font-size: 12px;
  font-family: sans-serif;
}

.main-container .container-main-search .container-search-box-1 p {
  font-size: 13px;
}

.main-container .container-main-search .container-search-box-1 select {
  color: #948f95;
  padding: 5px;
  height: 40px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.main-container .container-main-search .container-search-box-1 label {
  margin: 10px 0;
  color: #8c744e;
  font-size: 12px;
  font-family: sans-serif;
}

.main-container .container-main-search .container-search-box-1 input {
  padding: 5px;
  height: 30px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.main-container .container-main-search .container-search-box-1 .container-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .container-main-search .container-search-box-1 .container-switch p {
  margin-left: 10px;
}

.main-container .container-main-search .container-search-box-1 .container-price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .container-main-search .container-search-box-1 .container-price-filter .price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100px;
  height: 80px;
}

.main-container .container-main-search .container-search-box-1 .container-price-filter .price label {
  margin-bottom: 10px;
}

.main-container .container-main-search .container-search-box-1 .container-price-filter .price input {
  width: 90px;
  height: 30px;
}

.main-container .container-main-search .container-round-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .container-main-search .container-round-selector .round-selector {
  background-color: #fff;
  border-radius: 50px;
  padding: 7px;
  width: 20px;
  color: #948f95;
  font-size: 12px;
  margin-bottom: 1px;
}

.main-container .container-main-search .container-search-box-2 {
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
  margin-top: 20px;
  height: auto;
  padding: 10px 15px;
}

.main-container .container-main-search .container-search-box-2 .container-area-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .container-main-search .container-search-box-2 .container-area-filter .area label {
  font-size: 10px;
  color: #948f95;
}

.main-container .container-main-search .container-search-box-2 .container-area-filter .area input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90px;
  height: 30px;
  padding: 5px;
}

.main-container .container-main-search .container-search-box-2 label {
  margin: 10px 0;
  font-size: 12px;
  color: #948f95;
}

.main-container .container-main-search .container-search-box-2 .round-selector {
  background-color: #fff;
  border-radius: 50px;
  padding: 7px;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #948f95;
  font-size: 12px;
  margin-bottom: 1px;
}

.main-container .container-main-results {
  width: 75vw;
  margin-left: 20px;
  margin-top: 10px;
}

.main-container .container-main-results .container-main-results-categories {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-container .container-main-results .container-main-results-categories li {
  margin-left: 25px;
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
}

.main-container .container-main-results .container-main-results-categories li a {
  color: #0096d8;
}

.main-container .container-main-results .container-main-results-quantity .city-tag {
  border: 1px solid #0096d8;
  color: #0096d8;
  font-size: 12px;
  padding: 5px;
  border-radius: 100000px;
  text-align: center;
}

.main-container .container-main-results .container-main-results-findings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .container-main-results .container-main-results-findings .estate-card {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-image-container img {
  width: 350px;
  height: 254px;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 0 15px;
  width: 100%;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container .estate-card-info div {
  margin-bottom: 10px;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container .estate-card-info .estate-adress-container span {
  font-size: 12px;
  color: #969696;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container .estate-card-info .estate-description-container span {
  font-weight: 400;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container .estate-card-info .estate-specification-container p {
  font-size: 12px;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container .estate-card-info .estate-feature-container span {
  margin-right: 5px;
  border-radius: 1000000px;
  background-color: #EBEBEB;
  padding: 5px;
  font-size: 12px;
  color: #ADAEB1;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container .estate-card-info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .container-main-results .container-main-results-findings .estate-card .estate-card-container .estate-card-info-2 .estate-card-price-container {
  height: 40px;
  margin-bottom: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #005883;
}

.footer-container .footer-services-container .footer-services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
}

.footer-container .footer-services-container .footer-services-section:first-child {
  padding-left: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-container .footer-services-container .footer-services-section:nth-child(2) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-container .footer-services-container .footer-services-section:nth-child(3) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-container .footer-services-container .footer-services-section:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-services-container .footer-services-section:nth-child(4) div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .footer-services-container .footer-services-section:nth-child(4) div:nth-child(2) div {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container .footer-services-container .footer-services-section:nth-child(4) div:nth-child(2) div i {
  margin-right: 7px;
  color: #fff;
  font-size: 30px;
}

.footer-container .footer-services-container .footer-services-section:nth-child(4) div:nth-child(3) {
  margin-top: 10px;
}

.footer-container .footer-services-container .footer-services-section:nth-child(4) div:nth-child(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container .footer-services-container .footer-services-section:nth-child(4) div:nth-child(3) div img {
  width: 100px;
  height: 50px;
}

.footer-container .footer-services-container .footer-services-section span {
  color: #73A0B2;
  font-size: 12px;
}

.footer-container .footer-services-container .footer-services-section a {
  margin: 10px 0;
  color: #fff;
  font-size: 12px;
}

.footer-container .footer-company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #064F6F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .footer-company-info .group-logo-container {
  margin-left: 30px;
}

.footer-container .footer-company-info .group-logo-container img {
  width: 146px;
  height: 47px;
}

.footer-container .footer-company-info .copyright-container {
  color: #8CA8B9;
  font-size: 13px;
  text-align: left;
  width: 600px;
  margin-left: 10px;
}

.footer-container .footer-company-info .policies-container {
  margin-right: 30px;
}

.footer-container .footer-company-info .policies-container li {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}

.footer-container .footer-company-info .policies-container li a {
  color: #fff;
}
