h1 {
  font-size: 16px;
}


h2 {
	color: rgb(88, 86, 86);
}

.cadastrar-gasto {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 0vw;
}

.inputs {
	position: relative;
	height: 100%;
	width: 50vw;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	div {
		width: 250px;
		margin: 0 20px 10px 0;

		label {
			margin-right: 2px;
		}

		input {
			height: 20px;
			width: 100%;
		}
	}
}

.painel {
  width: 100%;
  display: flex;
  justify-content: center;

	.indicadores {
		width: 80%;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;


    h4 {
      white-space: nowrap;
    }
	}
}


.visualizacao {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(0,0,0, 0.1);
  border: black 1px solid;
  width: 250px;
  padding: 10px;
  margin: 2px;

  .descricao-card {
    width: 100%;
    margin: 0;
  }

  h4{
    width: 100%;
    font-size: 14px;

    span {
      font-weight: 200;
    }

    .Receita {
      color: darkgreen;
    }

    .Despesa {
      color:red;
    }
  }
}