#card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: beige;
  width: 30%;
  height: 20%;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#card div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

#card div input {
  margin-right: 10px;
}

#card h4 {
  margin: 0 0 0 0;
}

#listaTarefas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#listaConcluidas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form input#tituloTarefa {
  width: 300px;
}

#form textarea#descricaoTarefa {
  width: 300px;
  height: 200px;
}

#form button {
  margin-top: 10px;
}

#inputBusca {
  height: 30px;
  width: 400px;
}
